<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grading_App_Section_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Grading_App_Section_1.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
            <div class="row">
                <!-- Navbar -->
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <div class="row align-items-center">
                            <div class="col-12 text-center">
                                <img src="~/nexuslogo.jpg" class="img-fluid" alt="Logo">
                            </div>
                            <div class="col-12 text-center">
                                <h6 class="mt-3">Dashboard</h6>
                            </div>
                        </div>
                            <ul class="nav flex-column justify-content-center align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link 2</a>
                                </li>
                                <!-- Add more navbar links here -->
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- Page content -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    @RenderBody()
                </main>
            </div>
        </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
