<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grading_App_Section_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TeacherAdmin.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row m-1 p-1">
            <!-- Navbar -->
            <nav class="col-2 d-none d-md-block bg-light sidebar"> <!-- sidebar -->
                <div class="sidebar-sticky">
                    <div class="row align-items-center">
                        <div class="col-12 text-center">
                            <img src="~/nexuslogo.jpg" class="img-fluid" alt="Logo">
                        </div>
                        <ul class="nav flex-column justify-content-center align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/TeacherAdmin/Dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Rubric</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Survey</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Judging</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">TAs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Master Grades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/TeacherAdmin/JudgeSummary">Judge Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Fun Awards</a>
                            </li>
                            <!-- Add more navbar links here -->
                        </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Page content -->
            <main role="main" class="container col-md-10 ml-md-auto px-4">
                @RenderBody()
            </main>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/TeacherAdmin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>