<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Page</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="Survey" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
    <div class="JudgesNav"
      style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
      <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
        </div>
      </div>
      <div class="Nav1"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Dashboard</div>
      <div class="Group1"
        style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Group 1</div>
      <div class="Nav3"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 2</div>
      <div class="Nav4"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 3</div>
      <div class="Nav5"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 4</div>
      <div class="Nav6"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 5</div>
      <div class="Rankings"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Rankings</div>
      <div class="Schedule"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Schedule</div>
    </div>
    <div class="SurveyFrame" style="width: 1008px; height: 697px; left: 238px; top: 135px; position: absolute">
      <div class="Group1"
        style="left: 7px; top: 0px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Group 1</div>
      <div class="Member1Member2Member3Member4"
        style="left: 7px; top: 44px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        (member 1, member 2, member 3, member 4)</div>
      <div class="Group10" style="width: 180px; height: 502px; left: 828px; top: 252px; position: absolute">
        <div class="Rectangle2"
          style="width: 180px; height: 502px; left: 0px; top: 0px; position: absolute; border-radius: 15px; border: 2px #094067 solid">
        </div>
        <div class="JudgesAssumptions"
          style="width: 143px; left: 18px; top: 25px; position: absolute; text-align: center; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Judges Assumptions</div>
        <div class="YouAreTheCeoOfA"
          style="width: 134px; left: 23px; top: 93px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          You are the CEO of a ...</div>
      </div>
      <div class="Surveyblock" style="width: 780px; height: 549px; left: 0px; top: 78px; position: absolute">
        <div class="Rectangle1"
          style="width: 780px; height: 549px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #094067 solid">
        </div>
        <div class="Ellipse1"
          style="width: 32px; height: 32px; left: 330px; top: 312px; position: absolute; background: #3DA9FC; border-radius: 9999px">
        </div>
        <div class="HowEffectiveWasTheTeamInBuildingASolutionThatMeetsTheClientSNeeds"
          style="width: 647px; left: 67px; top: 78px; position: absolute"><span
            style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">How
            effective was the team in building a solution </span><span
            style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">that
            meets the client’s needs? </span></div>
        <div class="DoYouHaveAnyComplementsOrCritiquesForTheGroupAboutTheOverallSystemQualityAndClientSatisfaction"
          style="width: 631px; left: 75px; top: 377px; position: absolute"><span
            style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Do you
            have any complements or critiques for the group about the </span><span
            style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Overall
            System Quality and Client Satisfaction?</span></div>
        <div class="Group9" style="width: 695px; height: 68px; left: 43px; top: 442px; position: absolute">
          <div class="Rectangle3"
            style="width: 695px; height: 68px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 4px; border: 1px #094067 solid">
          </div>
          <div class="GiveFeedbackHere"
            style="left: 13px; top: 9px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">
            Give feedback here</div>
        </div>
        <div class="Group8" style="width: 741px; height: 68px; left: 20px; top: 272px; position: absolute">
          <div class="Group7" style="width: 691px; height: 24px; left: 26px; top: 44px; position: absolute">
            <div
              style="width: 12px; left: 0px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              1</div>
            <div
              style="width: 16px; left: 70px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              2</div>
            <div
              style="width: 17px; left: 143px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              3</div>
            <div
              style="width: 18px; left: 217px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              4</div>
            <div
              style="width: 16px; left: 292px; top: 0px; position: absolute; text-align: center; color: #FFFFFE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              5</div>
            <div
              style="width: 18px; left: 365px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              6</div>
            <div
              style="width: 15px; left: 440px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              7</div>
            <div
              style="width: 17px; left: 512px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              8</div>
            <div
              style="width: 17px; left: 587px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              9</div>
            <div
              style="width: 30px; left: 661px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              10</div>
          </div>
          <div class="NotEffective"
            style="width: 64px; left: 0px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
            Not Effective</div>
          <div class="SlightlyEffective"
            style="width: 64px; left: 220px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
            Slightly Effective</div>
          <div class="ModeratelyEffective"
            style="width: 79px; left: 434px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
            Moderately Effective</div>
          <div class="ExtremelyEffective"
            style="width: 79px; left: 662px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
            Extremely Effective</div>
        </div>
        <div class="OverallSystemQualityAndClientSatisfaction"
          style="left: 157px; top: 30px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Overall System Quality and Client Satisfaction</div>
        <div
          class="ItemsThatMayFactorIntoYourScoringOfThisItemTheTeamUnderstandsTheRequirementsAndChallengesFacingTheClientSystemMeetsClientSNeedsTheSolutionIsRealisticAndViableYouAreConfidentInTheSolutionAndTeamClientShouldEngageThisTeamForContinuedImplementationOfTheSolution"
          style="width: 630px; left: 75px; top: 140px; position: absolute; color: #5F6C7B; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Items that may factor into your scoring of this item:<br />﻿﻿The Team Understands the Requirements and
          Challenges Facing the Client<br />﻿﻿System Meets Client's Needs<br />﻿﻿The Solution is Realistic and Viable
          <br />﻿﻿You are Confident in the Solution and Team<br />﻿﻿Client Should Engage this Team for Continued
          Implementation of the Solution</div>
      </div>
      <div class="Surveyblock" style="width: 780px; height: 549px; left: 1px; top: 653px; position: absolute">
        <div class="Rectangle1"
          style="width: 780px; height: 549px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #094067 solid">
        </div>
        <div class="Ellipse1"
          style="width: 32px; height: 32px; left: 330px; top: 312px; position: absolute; background: #3DA9FC; border-radius: 9999px">
        </div>
        <div class="HowEffectiveWasTheTeamInBuildingASolutionThatMeetsTheClientSNeeds"
          style="width: 647px; left: 67px; top: 78px; position: absolute"><span
            style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">How
            effective was the team in building a solution </span><span
            style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">that
            meets the client’s needs? </span></div>
        <div class="DoYouHaveAnyComplementsOrCritiquesForTheGroupAboutTheOverallSystemQualityAndClientSatisfaction"
          style="width: 631px; left: 75px; top: 377px; position: absolute"><span
            style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Do you
            have any complements or critiques for the group about the </span><span
            style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Overall
            System Quality and Client Satisfaction?</span></div>
        <div class="Group9" style="width: 695px; height: 68px; left: 43px; top: 442px; position: absolute">
          <div class="Rectangle3"
            style="width: 695px; height: 68px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 4px; border: 1px #094067 solid">
          </div>
          <div class="GiveFeedbackHere"
            style="left: 13px; top: 9px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">
            Give feedback here</div>
        </div>
        <div class="Group8" style="width: 741px; height: 68px; left: 20px; top: 272px; position: absolute">
          <div class="Group7" style="width: 691px; height: 24px; left: 26px; top: 44px; position: absolute">
            <div
              style="width: 12px; left: 0px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              1</div>
            <div
              style="width: 16px; left: 70px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              2</div>
            <div
              style="width: 17px; left: 143px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              3</div>
            <div
              style="width: 18px; left: 217px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              4</div>
            <div
              style="width: 16px; left: 292px; top: 0px; position: absolute; text-align: center; color: #FFFFFE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              5</div>
            <div
              style="width: 18px; left: 365px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              6</div>
            <div
              style="width: 15px; left: 440px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              7</div>
            <div
              style="width: 17px; left: 512px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              8</div>
            <div
              style="width: 17px; left: 587px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              9</div>
            <div
              style="width: 30px; left: 661px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
              10</div>
          </div>
          <div class="NotEffective"
            style="width: 64px; left: 0px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
            Not Effective</div>
          <div class="SlightlyEffective"
            style="width: 64px; left: 220px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
            Slightly Effective</div>
          <div class="ModeratelyEffective"
            style="width: 79px; left: 434px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
            Moderately Effective</div>
          <div class="ExtremelyEffective"
            style="width: 79px; left: 662px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
            Extremely Effective</div>
        </div>
        <div class="OverallSystemQualityAndClientSatisfaction"
          style="left: 157px; top: 30px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Overall System Quality and Client Satisfaction</div>
        <div
          class="ItemsThatMayFactorIntoYourScoringOfThisItemTheTeamUnderstandsTheRequirementsAndChallengesFacingTheClientSystemMeetsClientSNeedsTheSolutionIsRealisticAndViableYouAreConfidentInTheSolutionAndTeamClientShouldEngageThisTeamForContinuedImplementationOfTheSolution"
          style="width: 630px; left: 75px; top: 140px; position: absolute; color: #5F6C7B; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Items that may factor into your scoring of this item:<br />﻿﻿The Team Understands the Requirements and
          Challenges Facing the Client<br />﻿﻿System Meets Client's Needs<br />﻿﻿The Solution is Realistic and Viable
          <br />﻿﻿You are Confident in the Solution and Team<br />﻿﻿Client Should Engage this Team for Continued
          Implementation of the Solution</div>
      </div>
      <div class="Group12" style="width: 180px; height: 149px; left: 828px; top: 78px; position: absolute">
        <div class="Rectangle3"
          style="width: 180px; height: 149px; left: 0px; top: 0px; position: absolute; border-radius: 15px; border: 2px #094067 solid">
        </div>
        <div class="Group11" style="width: 137px; height: 88px; left: 22px; top: 30px; position: absolute">
          <div class="30"
            style="width: 133px; left: 2px; top: 27px; position: absolute; text-align: center; color: #3DA9FC; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            5/30</div>
          <div class="CurrentScore"
            style="left: 0px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            Current Score</div>
        </div>
      </div>
    </div>
    <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/1280x96" />
  </div>
  <div class="Dashboard" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
    <div class="JudgeDashboard" style="width: 966px; height: 697px; left: 245px; top: 135px; position: absolute">
      <div class="HelloJohnYouVeBeenAssignedToRoom174Tnbr"
        style="left: 0px; top: 0px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Hello, John! You’ve been assigned to room 174 TNBR </div>
      <div class="Component2"
        style="width: 240px; height: 205px; left: 0px; top: 78px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
        <div class="Rectangle10"
          style="width: 240px; height: 205px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 15px; border: 2px #094067 solid">
        </div>
        <div class="AverageGroupScore"
          style="width: 176px; left: 32px; top: 25px; position: absolute; text-align: center; color: #094067; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Avg. Group Score</div>
        <div class="30"
          style="left: 23px; top: 102px; position: absolute; text-align: center; color: #3DA9FC; font-size: 64px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          23/30</div>
      </div>
      <div class="Component3"
        style="width: 240px; height: 205px; left: 299px; top: 78px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
        <div class="Rectangle10"
          style="width: 240px; height: 205px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 15px; border: 2px #094067 solid">
        </div>
        <div class="AverageGroupScore"
          style="width: 176px; left: 32px; top: 25px; position: absolute; text-align: center; color: #094067; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Groups Completed</div>
        <div class="30"
          style="left: 49px; top: 102px; position: absolute; text-align: center; color: #3DA9FC; font-size: 64px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          60%</div>
      </div>
      <div class="Group14" style="width: 966px; height: 173px; left: 0px; top: 316px; position: absolute">
        <div class="Rectangle2"
          style="width: 966px; height: 173px; left: 0px; top: 0px; position: absolute; border-radius: 15px; border: 2px #094067 solid">
        </div>
        <div class="JudgesAssumptions"
          style="left: 387px; top: 8px; position: absolute; text-align: center; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Judges Assumptions</div>
      </div>
      <div class="Group13" style="width: 966px; height: 150px; left: 0px; top: 525px; position: absolute">
        <div class="Rectangle3"
          style="width: 966px; height: 150px; left: 0px; top: 0px; position: absolute; border-radius: 15px; border: 2px #094067 solid">
        </div>
        <div class="CaseInformation"
          style="width: 207px; height: 24px; left: 387px; top: 12px; position: absolute; text-align: center; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Case Information</div>
      </div>
    </div>
    <img class="Screenshot32" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/1280x96" />
    <div class="JudgesNav"
      style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
      <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
        </div>
      </div>
      <div class="Nav1"
        style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Dashboard</div>
      <div class="Group1"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 1</div>
      <div class="Nav3"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 2</div>
      <div class="Nav4"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 3</div>
      <div class="Nav5"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 4</div>
      <div class="Nav6"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 5</div>
      <div class="Rankings"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Rankings</div>
      <div class="Schedule"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Schedule</div>
    </div>
  </div>
  <div class="JudgesNav"
    style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
    <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
      <div class="Vector"
        style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
      </div>
      <div class="Vector"
        style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
      </div>
      <div class="Vector"
        style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
      </div>
      <div class="Vector"
        style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
      </div>
    </div>
    <div class="Nav1"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Dashboard</div>
    <div class="Group1"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Group 1</div>
    <div class="Nav3"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Group 2</div>
    <div class="Nav4"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Group 3</div>
    <div class="Nav5"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Group 4</div>
    <div class="Nav6"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Group 5</div>
    <div class="Rankings"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Rankings</div>
    <div class="Schedule"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Schedule</div>
  </div>
  <div class="DashboardComponent"
    style="width: 240px; height: 205px; position: relative; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
    <div class="Rectangle10"
      style="width: 240px; height: 205px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 15px; border: 2px #094067 solid">
    </div>
    <div class="AverageGroupScore"
      style="width: 176px; left: 32px; top: 25px; position: absolute; text-align: center; color: #094067; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Average Group Score</div>
    <div class="30"
      style="left: 23px; top: 102px; position: absolute; text-align: center; color: #3DA9FC; font-size: 64px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      23/30</div>
  </div>
  <div class="JudgeSLogin" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
    <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/1280x96" />
    <div class="LoginBox" style="width: 310px; height: 275px; left: 485px; top: 279px; position: absolute">
      <div class="Rectangle1"
        style="width: 310px; height: 275px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #094067 solid">
      </div>
      <div class="Login"
        style="left: 123px; top: 24px; position: absolute; text-align: center; color: #094067; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Login</div>
      <div class="Group2" style="width: 229px; height: 54px; left: 40px; top: 66px; position: absolute">
        <div class="Rectangle2"
          style="width: 229px; height: 37px; left: 0px; top: 17px; position: absolute; border-radius: 5px; border: 1px #094067 solid">
        </div>
        <div class="EnterUsername"
          style="left: 10px; top: 27px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">
          Enter Username</div>
        <div class="Username"
          style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; line-height: 15.71px; word-wrap: break-word">
          Username</div>
      </div>
      <div class="Group3" style="width: 229px; height: 54px; left: 40px; top: 130px; position: absolute">
        <div class="Rectangle2"
          style="width: 229px; height: 37px; left: 0px; top: 17px; position: absolute; border-radius: 5px; border: 1px #094067 solid">
        </div>
        <div class="EnterPassword"
          style="left: 10px; top: 27px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">
          Enter Password</div>
        <div class="Password"
          style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; line-height: 15.71px; word-wrap: break-word">
          Password</div>
      </div>
      <div class="Group1" style="width: 229px; height: 36px; left: 40px; top: 209px; position: absolute">
        <div class="Rectangle4"
          style="width: 229px; height: 36px; left: 0px; top: 0px; position: absolute; background: #3DA9FC; border-radius: 5px; border: 1px #094067 solid">
        </div>
        <div class="Login"
          style="left: 95px; top: 9px; position: absolute; text-align: center; color: #FFFFFE; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 18.13px; word-wrap: break-word">
          Login</div>
      </div>
    </div>
    <div class="Frame1" style="width: 100px; height: 100px; left: 85px; top: 436px; position: absolute"></div>
  </div>
  <div class="Surveyblock" style="width: 780px; height: 549px; position: relative">
    <div class="Rectangle1"
      style="width: 780px; height: 549px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #094067 solid">
    </div>
    <div class="Ellipse1"
      style="width: 32px; height: 32px; left: 330px; top: 312px; position: absolute; background: #3DA9FC; border-radius: 9999px">
    </div>
    <div class="HowEffectiveWasTheTeamInBuildingASolutionThatMeetsTheClientSNeeds"
      style="width: 647px; left: 67px; top: 78px; position: absolute"><span
        style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">How
        effective was the team in building a solution </span><span
        style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">that meets
        the client’s needs? </span></div>
    <div class="DoYouHaveAnyComplementsOrCritiquesForTheGroupAboutTheOverallSystemQualityAndClientSatisfaction"
      style="width: 631px; left: 75px; top: 377px; position: absolute"><span
        style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Do you have
        any complements or critiques for the group about the </span><span
        style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Overall
        System Quality and Client Satisfaction?</span></div>
    <div class="Group9" style="width: 695px; height: 68px; left: 43px; top: 442px; position: absolute">
      <div class="Rectangle3"
        style="width: 695px; height: 68px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 4px; border: 1px #094067 solid">
      </div>
      <div class="GiveFeedbackHere"
        style="left: 13px; top: 9px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">
        Give feedback here</div>
    </div>
    <div class="Group8" style="width: 741px; height: 68px; left: 20px; top: 272px; position: absolute">
      <div class="Group7" style="width: 691px; height: 24px; left: 26px; top: 44px; position: absolute">
        <div
          style="width: 12px; left: 0px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          1</div>
        <div
          style="width: 16px; left: 70px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          2</div>
        <div
          style="width: 17px; left: 143px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          3</div>
        <div
          style="width: 18px; left: 217px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          4</div>
        <div
          style="width: 16px; left: 292px; top: 0px; position: absolute; text-align: center; color: #FFFFFE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          5</div>
        <div
          style="width: 18px; left: 365px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          6</div>
        <div
          style="width: 15px; left: 440px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          7</div>
        <div
          style="width: 17px; left: 512px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          8</div>
        <div
          style="width: 17px; left: 587px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          9</div>
        <div
          style="width: 30px; left: 661px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          10</div>
      </div>
      <div class="NotEffective"
        style="width: 64px; left: 0px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
        Not Effective</div>
      <div class="SlightlyEffective"
        style="width: 64px; left: 220px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
        Slightly Effective</div>
      <div class="ModeratelyEffective"
        style="width: 79px; left: 434px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
        Moderately Effective</div>
      <div class="ExtremelyEffective"
        style="width: 79px; left: 662px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 300; word-wrap: break-word">
        Extremely Effective</div>
    </div>
    <div class="OverallSystemQualityAndClientSatisfaction"
      style="left: 157px; top: 30px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Overall System Quality and Client Satisfaction</div>
    <div
      class="ItemsThatMayFactorIntoYourScoringOfThisItemTheTeamUnderstandsTheRequirementsAndChallengesFacingTheClientSystemMeetsClientSNeedsTheSolutionIsRealisticAndViableYouAreConfidentInTheSolutionAndTeamClientShouldEngageThisTeamForContinuedImplementationOfTheSolution"
      style="width: 630px; left: 75px; top: 140px; position: absolute; color: #5F6C7B; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Items that may factor into your scoring of this item:<br />﻿﻿The Team Understands the Requirements and Challenges
      Facing the Client<br />﻿﻿System Meets Client's Needs<br />﻿﻿The Solution is Realistic and Viable <br />﻿﻿You are
      Confident in the Solution and Team<br />﻿﻿Client Should Engage this Team for Continued Implementation of the
      Solution</div>
  </div>
  <div class="Rankings" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
    <img class="Screenshot32" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/1280x96" />
    <div class="JudgesNav"
      style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
      <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
        </div>
      </div>
      <div class="Nav1"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Dashboard</div>
      <div class="Group1"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 1</div>
      <div class="Nav3"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 2</div>
      <div class="Nav4"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 3</div>
      <div class="Nav5"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 4</div>
      <div class="Nav6"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 5</div>
      <div class="Rankings"
        style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Rankings</div>
      <div class="Schedule"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Schedule</div>
    </div>
    <div class="PresentationRankings"
      style="left: 245px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Presentation Rankings</div>
    <div class="Group21" style="width: 281px; height: 489px; left: 245px; top: 240px; position: absolute">
      <div class="Group20" style="width: 180px; height: 437px; left: 86px; top: 52px; position: absolute">
        <div class="GroupCard"
          style="width: 180px; height: 65px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Rectangle11"
            style="width: 180px; height: 65px; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #90B4CE solid">
          </div>
          <div class="Group1"
            style="width: 180px; height: 65px; text-align: center; color: #3DA9FC; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            Group 1</div>
        </div>
        <div class="GroupCard"
          style="width: 180px; height: 65px; left: 0px; top: 93px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Rectangle11"
            style="width: 180px; height: 65px; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #90B4CE solid">
          </div>
          <div class="Group1"
            style="width: 180px; height: 65px; text-align: center; color: #3DA9FC; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            Group 2</div>
        </div>
        <div class="GroupCard"
          style="width: 180px; height: 65px; left: 0px; top: 186px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Rectangle11"
            style="width: 180px; height: 65px; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #90B4CE solid">
          </div>
          <div class="Group1"
            style="width: 180px; height: 65px; text-align: center; color: #3DA9FC; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            Group 3</div>
        </div>
        <div class="GroupCard"
          style="width: 180px; height: 65px; left: 0px; top: 279px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Rectangle11"
            style="width: 180px; height: 65px; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #90B4CE solid">
          </div>
          <div class="Group1"
            style="width: 180px; height: 65px; text-align: center; color: #3DA9FC; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            Group 4</div>
        </div>
        <div class="GroupCard"
          style="width: 180px; height: 65px; left: 0px; top: 372px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Rectangle11"
            style="width: 180px; height: 65px; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #90B4CE solid">
          </div>
          <div class="Group1"
            style="width: 180px; height: 65px; text-align: center; color: #3DA9FC; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            Group 5</div>
        </div>
      </div>
      <div class="Group19" style="width: 281px; height: 477px; left: 0px; top: 0px; position: absolute">
        <div class="RankBubble" style="width: 42px; height: 42px; left: 0px; top: 64px; position: absolute">
          <div class="Ellipse2"
            style="width: 42px; height: 42px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 9999px; border: 2px #5F6C7B solid">
          </div>
          <div
            style="left: 15px; top: 7px; position: absolute; text-align: center; color: #5F6C7B; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            1</div>
        </div>
        <div class="RankBubble" style="width: 42px; height: 42px; left: 239px; top: 0px; position: absolute">
          <div class="Ellipse2"
            style="width: 22px; height: 22px; left: 10px; top: 2px; position: absolute; background: #FFFFFE; border-radius: 9999px; border: 1.50px #5F6C7B solid">
          </div>
          <div
            style="width: 7px; height: 10px; left: 17px; top: 8px; position: absolute; text-align: center; color: #5F6C7B; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            1</div>
        </div>
        <div class="RankBubble" style="width: 42px; height: 42px; left: 0px; top: 157px; position: absolute">
          <div class="Ellipse2"
            style="width: 42px; height: 42px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 9999px; border: 2px #5F6C7B solid">
          </div>
          <div
            style="left: 13px; top: 7px; position: absolute; text-align: center; color: #5F6C7B; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            2</div>
        </div>
        <div class="RankBubble" style="width: 42px; height: 42px; left: 0px; top: 250px; position: absolute">
          <div class="Ellipse2"
            style="width: 42px; height: 42px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 9999px; border: 2px #5F6C7B solid">
          </div>
          <div
            style="left: 13px; top: 7px; position: absolute; text-align: center; color: #5F6C7B; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            3</div>
        </div>
        <div class="RankBubble" style="width: 42px; height: 42px; left: 0px; top: 339px; position: absolute">
          <div class="Ellipse2"
            style="width: 42px; height: 42px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 9999px; border: 2px #5F6C7B solid">
          </div>
          <div
            style="left: 13px; top: 7px; position: absolute; text-align: center; color: #5F6C7B; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            4</div>
        </div>
        <div class="RankBubble" style="width: 42px; height: 42px; left: 0px; top: 435px; position: absolute">
          <div class="Ellipse2"
            style="width: 42px; height: 42px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 9999px; border: 2px #5F6C7B solid">
          </div>
          <div
            style="left: 13px; top: 7px; position: absolute; text-align: center; color: #5F6C7B; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
            5</div>
        </div>
      </div>
    </div>
    <div
      class="ThroughoutTheCourseOfPresentationsDragTheGroupsRankingThemInTheOrderYouSeeFitTheGroupInPositionBeingTheBestPresentationYouSaw"
      style="width: 708px; left: 245px; top: 180px; position: absolute; color: #5F6C7B; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Throughout the course of presentations, drag the groups, ranking them in the order you see fit. <br />The group in
      position being the best presentation you saw. </div>
  </div>
  <div class="Schedule" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
    <img class="Screenshot32" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/1280x96" />
    <div class="JudgesNav"
      style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
      <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
        </div>
      </div>
      <div class="Nav1"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Dashboard</div>
      <div class="Group1"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 1</div>
      <div class="Nav3"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 2</div>
      <div class="Nav4"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 3</div>
      <div class="Nav5"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 4</div>
      <div class="Nav6"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Group 5</div>
      <div class="Rankings"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Rankings</div>
      <div class="Schedule"
        style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Schedule</div>
    </div>
    <div class="Schedule"
      style="left: 245px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Schedule</div>
    <img class="Screenshot33" style="width: 1013px; height: 288px; left: 227px; top: 202px; position: absolute"
      src="https://via.placeholder.com/1013x288" />
  </div>
  <div class="GroupCard" style="width: 180px; height: 65px; position: relative">
    <div class="Rectangle11"
      style="width: 180px; height: 65px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #90B4CE solid">
    </div>
    <div class="Group1"
      style="width: 180px; height: 65px; left: 0px; top: 0px; position: absolute; text-align: center; color: #3DA9FC; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Group 1</div>
  </div>
  <div class="RankBubble" style="width: 42px; height: 42px; position: relative">
    <div class="Ellipse2"
      style="width: 42px; height: 42px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 9999px; border: 2px #5F6C7B solid">
    </div>
    <div
      style="left: 4px; top: 7px; position: absolute; text-align: center; color: #5F6C7B; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      00</div>
  </div>
  <div class="Groups1115"
    style="width: 1032px; height: 323px; text-align: center; color: black; font-size: 128px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    GROUPS 11 & 15</div>
</body>

</html>