<div class="StudentLogin" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
  <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1280x96" />
  <div class="LoginBox" style="width: 310px; height: 275px; left: 485px; top: 279px; position: absolute">
    <div class="Rectangle1" style="width: 310px; height: 275px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #094067 solid"></div>
    <div class="Login" style="left: 123px; top: 24px; position: absolute; text-align: center; color: #094067; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Login</div>
    <div class="Group2" style="width: 229px; height: 54px; left: 40px; top: 66px; position: absolute">
      <div class="Rectangle2" style="width: 229px; height: 37px; left: 0px; top: 17px; position: absolute; border-radius: 5px; border: 1px #094067 solid"></div>
      <div class="EnterUsername" style="left: 10px; top: 27px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">Enter Username</div>
      <div class="Username" style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; line-height: 15.71px; word-wrap: break-word">Username</div>
    </div>
    <div class="Group3" style="width: 229px; height: 54px; left: 40px; top: 130px; position: absolute">
      <div class="Rectangle2" style="width: 229px; height: 37px; left: 0px; top: 17px; position: absolute; border-radius: 5px; border: 1px #094067 solid"></div>
      <div class="EnterPassword" style="left: 10px; top: 27px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">Enter Password</div>
      <div class="Password" style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; line-height: 15.71px; word-wrap: break-word">Password</div>
    </div>
    <div class="Group1" style="width: 229px; height: 36px; left: 40px; top: 209px; position: absolute">
      <div class="Rectangle4" style="width: 229px; height: 36px; left: 0px; top: 0px; position: absolute; background: #3DA9FC; border-radius: 5px; border: 1px #094067 solid"></div>
      <div class="Login" style="left: 95px; top: 9px; position: absolute; text-align: center; color: #FFFFFE; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 18.13px; word-wrap: break-word">Login</div>
    </div>
  </div>
  <div class="Frame1" style="width: 100px; height: 100px; left: 928px; top: 563px; position: absolute"></div>
</div>
<div class="LinkSubmission" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
  <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1280x96" />
  <div class="HelloAlexander" style="left: 245px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Hello, Alexander!</div>
  <div class="StudentNav" style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
    <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6"></div>
    </div>
    <div class="Github" style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Github</div>
    <div class="Info" style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Info</div>
  </div>
  <div class="Group27" style="width: 455px; height: 58px; left: 245px; top: 200px; position: absolute">
    <div class="Rectangle" style="width: 455px; height: 37px; left: 0px; top: 21px; position: absolute; border-radius: 5px; border: 1px #094067 solid"></div>
    <div class="YourGroupSGithubLink" style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">Your Group’s GitHub Link</div>
    <div class="PasteYourGroupSGithubLinkHere" style="left: 14px; top: 30px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Paste your group’s GitHub link here</div>
    <div class="Group18" style="width: 44px; height: 18px; left: 400px; top: 30px; position: absolute">
      <div class="Vector" style="width: 16px; height: 18px; left: 0px; top: 0px; position: absolute; border: 2px #EF4565 solid"></div>
      <div class="Vector" style="width: 18px; height: 18px; left: 26px; top: 0px; position: absolute; border: 2px #094067 solid"></div>
    </div>
  </div>
</div>
<div class="StudentNav" style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
  <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
    <div class="Vector" style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
    <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8"></div>
    <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
    <div class="Vector" style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6"></div>
  </div>
  <div class="Github" style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Github</div>
  <div class="Info" style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Info</div>
</div>
<div class="Form" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
  <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1280x96" />
  <div class="StudentNav" style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
    <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6"></div>
    </div>
    <div class="Github" style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Github</div>
    <div class="Info" style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Info</div>
  </div>
  <div class="Group24" style="width: 294px; height: 226px; left: 245px; top: 200px; position: absolute">
    <div class="Group19" style="width: 290px; height: 24px; left: 0px; top: 0px; position: absolute">
      <div class="FirstName" style="width: 155.57px; height: 24px; left: 0px; top: 0px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">First Name</div>
      <div class="Alexander" style="width: 143.49px; height: 24px; left: 146.51px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Alexander</div>
    </div>
    <div class="Group20" style="width: 290px; height: 24px; left: 0px; top: 33px; position: absolute">
      <div class="Maat" style="width: 72.50px; height: 24px; left: 217.50px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Maat</div>
      <div class="LastName" style="width: 154.06px; height: 24px; left: 0px; top: 0px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Last Name</div>
    </div>
    <div class="Group21" style="width: 290px; height: 24px; left: 0px; top: 66px; position: absolute">
      <div class="Amaat" style="width: 89.11px; height: 24px; left: 200.88px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">amaat</div>
      <div class="StudentId" style="width: 151.04px; height: 24px; left: 0px; top: 0px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Student ID</div>
    </div>
    <div class="Group22" style="width: 290px; height: 24px; left: 0px; top: 99px; position: absolute">
      <div style="width: 15.10px; height: 24px; left: 274.90px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">1</div>
      <div class="SectionNumber" style="width: 231.09px; height: 24px; left: 0px; top: 0px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Section Number</div>
    </div>
    <div class="Group25" style="width: 290px; height: 24px; left: 0px; top: 132px; position: absolute">
      <div style="width: 20px; height: 24px; left: 270px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">9</div>
      <div class="GroupNumber" style="width: 210px; height: 24px; left: 0px; top: 0px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Group Number</div>
    </div>
    <div class="IfAnyOfThisInformationIsIncorrectEmailBlahblahByuEdu" style="width: 294px; left: 0px; top: 188px; position: absolute; color: #90B4CE; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">If any of this information is incorrect email blahblah@byu.edu</div>
  </div>
  <div class="YourInformation" style="left: 245px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Your Information</div>
</div>
<div class="LinkSubmission" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
  <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1280x96" />
  <div class="HelloAlexander" style="left: 245px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Hello, Alexander!</div>
  <div class="StudentNav" style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
    <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6"></div>
    </div>
    <div class="Github" style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Github</div>
    <div class="Info" style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Info</div>
  </div>
  <div class="Group26" style="width: 455px; height: 58px; left: 245px; top: 200px; position: absolute">
    <div class="Rectangle" style="width: 455px; height: 37px; left: 0px; top: 21px; position: absolute; border-radius: 5px; border: 1px #094067 solid"></div>
    <div class="YourGroupSGithubLink" style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">Your Group’s GitHub Link</div>
    <div class="GithubComIntex2024" style="left: 14px; top: 30px; position: absolute; color: #3DA9FC; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">github.com/intex2024</div>
  </div>
  <div class="Vector" style="width: 7px; height: 14px; left: 216px; top: 150px; position: absolute; border: 2px #5F6C7B solid"></div>
  <div class="Button1" style="width: 229px; height: 35px; left: 471px; top: 268px; position: absolute">
    <div class="Rectangle4" style="width: 229px; height: 35px; left: 0px; top: 0px; position: absolute; background: #3DA9FC; border-radius: 5px; border: 1px #094067 solid"></div>
    <div class="Button" style="left: 73px; top: 7.75px; position: absolute; text-align: center; color: #FFFFFE; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 18.13px; word-wrap: break-word">Submit Link</div>
  </div>
</div>
<div class="Button1" style="width: 229px; height: 35px; position: relative">
  <div class="Rectangle4" style="width: 229px; height: 35px; left: 0px; top: 0px; position: absolute; background: #3DA9FC; border-radius: 5px; border: 1px #094067 solid"></div>
  <div class="Button" style="left: 90px; top: 7.75px; position: absolute; text-align: center; color: #FFFFFE; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 18.13px; word-wrap: break-word">Button</div>
</div>
<div class="DeleteBox" style="width: 574px; height: 193px; position: relative; border-radius: 2px">
  <div class="Rectangle5" style="width: 574px; height: 193px; left: 0px; top: 0px; position: absolute; background: #EDEDED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 2px; border: 2px #CDCDCD solid"></div>
  <div class="Group34" style="width: 504px; height: 111px; left: 34px; top: 49px; position: absolute">
    <div class="AreYouSure" style="width: 243.75px; height: 24.12px; left: 0px; top: 0px; position: absolute; color: #4D4D4D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Are you sure?</div>
    <div class="YouReAboutToDeleteYourGithubLink" style="width: 489.08px; height: 24.12px; left: 0px; top: 32px; position: absolute; color: #4D4D4D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">You’re about to delete your GitHub Link</div>
    <div class="Group33" style="width: 112px; height: 38px; left: 392px; top: 73px; position: absolute">
      <div class="Rectangle6" style="width: 112px; height: 38px; left: 0px; top: 0px; position: absolute; background: #1C74DB; border-radius: 3px"></div>
      <div class="Ok" style="left: 44px; top: 9px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">OK</div>
    </div>
    <div class="Group34" style="width: 112px; height: 38px; left: 267px; top: 73px; position: absolute">
      <div class="Rectangle6" style="width: 112px; height: 38px; left: 0px; top: 0px; position: absolute; border-radius: 3px; border: 1px #CDCDCD solid"></div>
      <div class="Cancel" style="left: 29px; top: 9px; position: absolute; text-align: center; color: #1C74DB; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Cancel</div>
    </div>
  </div>
</div>
<div class="SubmissionBox" style="width: 574px; height: 193px; position: relative; border-radius: 2px">
  <div class="Rectangle5" style="width: 574px; height: 193px; left: 0px; top: 0px; position: absolute; background: #EDEDED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 2px; border: 2px #ECECEC solid"></div>
  <div class="Group34" style="width: 504px; height: 111px; left: 34px; top: 49px; position: absolute">
    <div class="YourSubmissionWasReceivedSuccessfully" style="left: 0px; top: 0px; position: absolute; color: #4D4D4D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Your submission was received successfully!</div>
    <div class="PleaseDoubleCheckTheyYourRepositoryIsSetToPublic" style="width: 489.08px; height: 24.12px; left: 0px; top: 32px; position: absolute; color: #4D4D4D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Please double check they your repository is set to public.</div>
    <div class="Group33" style="width: 112px; height: 38px; left: 392px; top: 73px; position: absolute">
      <div class="Rectangle6" style="width: 112px; height: 38px; left: 0px; top: 0px; position: absolute; background: #1C74DB; border-radius: 3px"></div>
      <div class="Ok" style="left: 44px; top: 9px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">OK</div>
    </div>
  </div>
</div>
<div class="LinkSubmission" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
  <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1280x96" />
  <div class="HelloAlexander" style="left: 245px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Hello, Alexander!</div>
  <div class="StudentNav" style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
    <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6"></div>
    </div>
    <div class="Github" style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Github</div>
    <div class="Info" style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Info</div>
  </div>
  <div class="Group26" style="width: 455px; height: 58px; left: 245px; top: 200px; position: absolute">
    <div class="Rectangle" style="width: 455px; height: 37px; left: 0px; top: 21px; position: absolute; border-radius: 5px; border: 1px #094067 solid"></div>
    <div class="YourGroupSGithubLink" style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">Your Group’s GitHub Link</div>
    <div class="PasteYourGroupSGithubLinkHere" style="left: 14px; top: 30px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Paste your group’s GitHub link here</div>
  </div>
  <div class="Vector" style="width: 7px; height: 14px; left: 216px; top: 150px; position: absolute; border: 2px #5F6C7B solid"></div>
  <div class="Button1" style="width: 229px; height: 35px; left: 471px; top: 268px; position: absolute">
    <div class="Rectangle4" style="width: 229px; height: 35px; left: 0px; top: 0px; position: absolute; background: #3DA9FC; border-radius: 5px; border: 1px #094067 solid"></div>
    <div class="Button" style="left: 73px; top: 7.75px; position: absolute; text-align: center; color: #FFFFFE; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 18.13px; word-wrap: break-word">Submit Link</div>
  </div>
</div>
<div class="LinkSubmission" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
  <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1280x96" />
  <div class="HelloAlexander" style="left: 245px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Hello, Alexander!</div>
  <div class="StudentNav" style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
    <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8"></div>
      <div class="Vector" style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB"></div>
      <div class="Vector" style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6"></div>
    </div>
    <div class="Github" style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Github</div>
    <div class="Info" style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Info</div>
  </div>
  <div class="Group27" style="width: 455px; height: 58px; left: 245px; top: 200px; position: absolute">
    <div class="Rectangle" style="width: 455px; height: 37px; left: 0px; top: 21px; position: absolute; border-radius: 5px; border: 1px #094067 solid"></div>
    <div class="YourGroupSGithubLink" style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">Your Group’s GitHub Link</div>
    <div class="GithubComIntex2024" style="left: 14px; top: 30px; position: absolute; color: #3DA9FC; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">github.com/intex2024</div>
    <div class="Group18" style="width: 44px; height: 18px; left: 400px; top: 30px; position: absolute">
      <div class="Vector" style="width: 16px; height: 18px; left: 0px; top: 0px; position: absolute; border: 2px #EF4565 solid"></div>
      <div class="Vector" style="width: 18px; height: 18px; left: 26px; top: 0px; position: absolute; border: 2px #094067 solid"></div>
    </div>
  </div>
</div>