<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Page</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="TaSDashboard" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
    <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/1280x96" />
    <div class="HelloAndrewIs414Ta"
      style="left: 245px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Hello, Andrew! IS 414 TA</div>
    <div class="Group39" style="width: 981px; height: 108px; left: 245px; top: 202px; position: absolute">
      <div class="Rectangle5"
        style="width: 981px; height: 56px; left: 0px; top: 26px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="Rectangle6"
        style="width: 588.60px; height: 56px; left: 0px; top: 26px; position: absolute; background: #3DA9FC; border-radius: 15px">
      </div>
      <div class="SubmissionsGraded"
        style="left: 0px; top: 0px; position: absolute; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Submissions Graded</div>
      <div class="20GroupsGraded"
        style="left: 0px; top: 90px; position: absolute; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        12/20 Groups Graded</div>
    </div>
    <div class="TaSNav"
      style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
      <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
        </div>
      </div>
      <div class="Dashboard"
        style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Dashboard</div>
      <div class="Nav2"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Assigned Groups</div>
    </div>
    <div class="NotYetGraded"
      style="left: 245px; top: 356px; position: absolute; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Not Yet Graded</div>
    <div class="Group41" style="width: 571px; height: 55px; left: 245px; top: 393px; position: absolute">
      <div class="Rectangle5"
        style="width: 571px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="NotGraded"
        style="left: 30.99px; top: 19.34px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Not Graded</div>
      <div class="10"
        style="width: 36.59px; left: 216.88px; top: 19.34px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-12</div>
      <div class="SubmittedByJeffSutherland"
        style="left: 329.39px; top: 19.34px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Seth Sutherland</div>
    </div>
    <div class="Group42" style="width: 571px; height: 55px; left: 245px; top: 471px; position: absolute">
      <div class="Rectangle5"
        style="width: 571px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="NotGraded"
        style="left: 30.99px; top: 19.34px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Not Graded</div>
      <div class="10"
        style="width: 36.59px; left: 216.88px; top: 19.34px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-12</div>
      <div class="SubmittedByJeffSutherland"
        style="left: 328.39px; top: 19.34px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Breff Sutherland</div>
    </div>
    <div class="Group43" style="width: 571px; height: 55px; left: 245px; top: 549px; position: absolute">
      <div class="Rectangle5"
        style="width: 571px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="NotGraded"
        style="left: 30.99px; top: 19.34px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Not Graded</div>
      <div class="10"
        style="width: 36.59px; left: 216.88px; top: 19.34px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-12</div>
      <div class="SubmittedByJeffSutherland"
        style="left: 334.39px; top: 19.34px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Leff Sutherland</div>
    </div>
    <div class="Group44" style="width: 571px; height: 55px; left: 245px; top: 627px; position: absolute">
      <div class="Rectangle5"
        style="width: 571px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="NotGraded"
        style="left: 30.99px; top: 19.34px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Not Graded</div>
      <div class="10"
        style="width: 36.59px; left: 216.88px; top: 19.34px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-12</div>
      <div class="SubmittedByJeffSutherland"
        style="left: 333.39px; top: 19.34px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Peff Sutherland</div>
    </div>
    <div class="Group45" style="width: 571px; height: 55px; left: 245px; top: 705px; position: absolute">
      <div class="Rectangle5"
        style="width: 571px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="NotGraded"
        style="left: 30.99px; top: 19.34px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Not Graded</div>
      <div class="10"
        style="width: 36.59px; left: 216.88px; top: 19.34px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-12</div>
      <div class="SubmittedByJeffSutherland"
        style="left: 333.39px; top: 19.34px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Peff Sutherland</div>
    </div>
    <div class="Group46" style="width: 571px; height: 55px; left: 245px; top: 783px; position: absolute">
      <div class="Rectangle5"
        style="width: 571px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="NotGraded"
        style="left: 30.99px; top: 19.34px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Not Graded</div>
      <div class="10"
        style="width: 36.59px; left: 216.88px; top: 19.34px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-12</div>
      <div class="SubmittedByJeffSutherland"
        style="left: 333.39px; top: 19.34px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Peff Sutherland</div>
    </div>
    <div class="Group47" style="width: 571px; height: 55px; left: 245px; top: 861px; position: absolute">
      <div class="Rectangle5"
        style="width: 571px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="NotGraded"
        style="left: 30.99px; top: 19.34px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Not Graded</div>
      <div class="10"
        style="width: 36.59px; left: 216.88px; top: 19.34px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-12</div>
      <div class="SubmittedByJeffSutherland"
        style="left: 333.39px; top: 19.34px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Peff Sutherland</div>
    </div>
  </div>
  <div class="TaSAssignedGroups" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
    <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/1280x96" />
    <div class="TaSNav"
      style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
      <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
        </div>
      </div>
      <div class="Dashboard"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Dashboard</div>
      <div class="Nav2"
        style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Assigned Groups</div>
    </div>
    <div class="GradedSubmission" style="width: 981px; height: 56px; left: 242px; top: 400px; position: absolute">
      <div class="Rectangle5"
        style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="Group17" style="width: 915px; height: 18px; left: 33px; top: 19px; position: absolute">
        <div class="Graded"
          style="left: 0px; top: 0px; position: absolute; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Graded</div>
        <div class="9"
          style="left: 205px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          1-9</div>
        <div class="SubmittedBySadieEyre"
          style="left: 351px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Submitted by Sadie Eyre</div>
        <div class="GithubComAlexandermaat99Intex24"
          style="left: 647px; top: 0px; position: absolute; text-align: right; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          github.com/alexandermaat99/Intex24</div>
      </div>
    </div>
    <div class="GradedSubmission" style="width: 981px; height: 56px; left: 242px; top: 472px; position: absolute">
      <div class="Rectangle5"
        style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="Group17" style="width: 915px; height: 18px; left: 33px; top: 19px; position: absolute">
        <div class="Graded"
          style="left: 0px; top: 0px; position: absolute; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Graded</div>
        <div class="9"
          style="left: 205px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          1-9</div>
        <div class="SubmittedBySadieEyre"
          style="left: 351px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Submitted by Sadie Eyre</div>
        <div class="GithubComAlexandermaat99Intex24"
          style="left: 647px; top: 0px; position: absolute; text-align: right; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          github.com/alexandermaat99/Intex24</div>
      </div>
    </div>
    <div class="GradedSubmission" style="width: 981px; height: 56px; left: 242px; top: 544px; position: absolute">
      <div class="Rectangle5"
        style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="Group17" style="width: 915px; height: 18px; left: 33px; top: 19px; position: absolute">
        <div class="Graded"
          style="left: 0px; top: 0px; position: absolute; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Graded</div>
        <div class="9"
          style="left: 205px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          1-9</div>
        <div class="SubmittedBySadieEyre"
          style="left: 351px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Submitted by Sadie Eyre</div>
        <div class="GithubComAlexandermaat99Intex24"
          style="left: 647px; top: 0px; position: absolute; text-align: right; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          github.com/alexandermaat99/Intex24</div>
      </div>
    </div>
    <div class="GradedSubmission" style="width: 981px; height: 56px; left: 242px; top: 616px; position: absolute">
      <div class="Rectangle5"
        style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="Group17" style="width: 915px; height: 18px; left: 33px; top: 19px; position: absolute">
        <div class="Graded"
          style="left: 0px; top: 0px; position: absolute; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Graded</div>
        <div class="9"
          style="left: 205px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          1-9</div>
        <div class="SubmittedBySadieEyre"
          style="left: 351px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Submitted by Sadie Eyre</div>
        <div class="GithubComAlexandermaat99Intex24"
          style="left: 647px; top: 0px; position: absolute; text-align: right; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          github.com/alexandermaat99/Intex24</div>
      </div>
    </div>
    <div class="NotGradedSubmission" style="width: 981px; height: 56px; left: 242px; top: 184px; position: absolute">
      <div class="Rectangle5"
        style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="Group17" style="left: 33px; top: 19px; position: absolute">
        <div class="NotGraded"
          style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Not Graded</div>
        <div class="9"
          style="left: 205px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          1-9</div>
        <div class="SubmittedBySadieEyre"
          style="left: 351px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Submitted by Sadie Eyre</div>
        <div class="GithubComAlexandermaat99Intex24"
          style="left: 647px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          github.com/alexandermaat99/Intex24</div>
      </div>
    </div>
    <div class="NotGradedSubmission" style="width: 981px; height: 56px; left: 242px; top: 256px; position: absolute">
      <div class="Rectangle5"
        style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="Group17" style="left: 33px; top: 19px; position: absolute">
        <div class="NotGraded"
          style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Not Graded</div>
        <div class="9"
          style="left: 205px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          1-9</div>
        <div class="SubmittedBySadieEyre"
          style="left: 351px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Submitted by Sadie Eyre</div>
        <div class="GithubComAlexandermaat99Intex24"
          style="left: 647px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          github.com/alexandermaat99/Intex24</div>
      </div>
    </div>
    <div class="NotGradedSubmission" style="width: 981px; height: 56px; left: 242px; top: 328px; position: absolute">
      <div class="Rectangle5"
        style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
      </div>
      <div class="Group17" style="left: 33px; top: 19px; position: absolute">
        <div class="NotGraded"
          style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Not Graded</div>
        <div class="9"
          style="left: 205px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          1-9</div>
        <div class="SubmittedBySadieEyre"
          style="left: 351px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          Submitted by Sadie Eyre</div>
        <div class="GithubComAlexandermaat99Intex24"
          style="left: 647px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          github.com/alexandermaat99/Intex24</div>
      </div>
    </div>
    <div class="Group47" style="width: 918px; height: 19px; left: 268px; top: 139px; position: absolute">
      <div class="Status"
        style="left: 0px; top: 1px; position: absolute; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Status</div>
      <div class="SectionGroup"
        style="left: 165px; top: 1px; position: absolute; text-align: center; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Section - Group</div>
      <div class="SubmissionMember"
        style="left: 367px; top: 1px; position: absolute; text-align: center; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Submission Member</div>
      <div class="GithubLink"
        style="left: 831px; top: 0px; position: absolute; text-align: center; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        GitHub Link</div>
    </div>
  </div>
  <div class="TaSLogin"
    style="width: 1280px; height: 832px; padding-bottom: 279px; background: #FFFFFE; flex-direction: column; justify-content: flex-start; align-items: center; gap: 182px; display: inline-flex">
    <img class="Screenshot31" style="width: 1280px; height: 96px" src="https://via.placeholder.com/1280x96" />
    <div class="LoginBox"
      style="width: 310px; height: 275px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div class="Rectangle1"
        style="width: 310px; height: 275px; background: #FFFFFE; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 2px #094067 solid">
      </div>
      <div class="Login"
        style="text-align: center; color: #094067; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Login</div>
      <div class="Group2" style="width: 229px; height: 54px; position: relative">
        <div class="Rectangle2"
          style="width: 229px; height: 37px; left: 0px; top: 17px; position: absolute; border-radius: 5px; border: 1px #094067 solid">
        </div>
        <div class="EnterUsername"
          style="left: 10px; top: 27px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">
          Enter Username</div>
        <div class="Username"
          style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; line-height: 15.71px; word-wrap: break-word">
          Username</div>
      </div>
      <div class="Group3" style="width: 229px; height: 54px; position: relative">
        <div class="Rectangle2"
          style="width: 229px; height: 37px; left: 0px; top: 17px; position: absolute; border-radius: 5px; border: 1px #094067 solid">
        </div>
        <div class="EnterPassword"
          style="left: 10px; top: 27px; position: absolute; color: #90B4CE; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16.92px; word-wrap: break-word">
          Enter Password</div>
        <div class="Password"
          style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 13px; font-family: Inter; font-weight: 400; line-height: 15.71px; word-wrap: break-word">
          Password</div>
      </div>
      <div class="Group1" style="width: 229px; height: 36px; position: relative">
        <div class="Rectangle4"
          style="width: 229px; height: 36px; left: 0px; top: 0px; position: absolute; background: #3DA9FC; border-radius: 5px; border: 1px #094067 solid">
        </div>
        <div class="Login"
          style="left: 95px; top: 9px; position: absolute; text-align: center; color: #FFFFFE; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 18.13px; word-wrap: break-word">
          Login</div>
      </div>
    </div>
  </div>
  <div class="TaSNav"
    style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
    <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
      <div class="Vector"
        style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
      </div>
      <div class="Vector"
        style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
      </div>
      <div class="Vector"
        style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
      </div>
      <div class="Vector"
        style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
      </div>
    </div>
    <div class="Dashboard"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Dashboard</div>
    <div class="Nav2"
      style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Assigned Groups</div>
  </div>
  <div class="TaSAssignedGroups" style="width: 1280px; height: 832px; position: relative; background: #FFFFFE">
    <img class="Screenshot31" style="width: 1280px; height: 96px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/1280x96" />
    <div class="TaSNav"
      style="width: 190px; height: 736px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 96px; position: absolute; background: #FFFFFE; border-right: 3px #094067 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 36px; display: inline-flex">
      <div class="Nexuslogo" style="width: 41px; height: 36px; position: relative">
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 13.19px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.90px; top: 31.78px; position: absolute; transform: rotate(156.39deg); transform-origin: 0 0; background: #80C8E8">
        </div>
        <div class="Vector"
          style="width: 10.53px; height: 34.41px; left: 31.35px; top: 0px; position: absolute; transform: rotate(23.61deg); transform-origin: 0 0; background: #A0DAFB">
        </div>
        <div class="Vector"
          style="width: 10.47px; height: 19.09px; left: 19.79px; top: 15.21px; position: absolute; background: #72BCD6">
        </div>
      </div>
      <div class="Dashboard"
        style="text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Dashboard</div>
      <div class="Nav2"
        style="text-align: center; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Assigned Groups</div>
    </div>
    <div class="Section1Group9"
      style="left: 270px; top: 135px; position: absolute; color: #5F6C7B; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Section: 1 Group: 9</div>
    <div class="Vector"
      style="width: 7px; height: 14px; left: 245px; top: 150px; position: absolute; border: 2px #5F6C7B solid"></div>
    <div class="GithubComAlexandermaat99Intex24"
      style="left: 269px; top: 184px; position: absolute; text-align: right; color: #3DA9FC; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      github.com/alexandermaat99/Intex24</div>
    <div class="Group51" style="width: 636px; left: 239px; top: 219px; position: absolute">
      <div class="Group55" style="width: 200px; height: 151px; left: 436px; top: 1px; position: absolute">
        <div class="Rectangle24"
          style="width: 200px; height: 151px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 15px; border: 1px #094067 solid">
        </div>
        <div class="ThisTopicIsAddressedWithMinimalJustificationRationaleInitiativeAndCreativity"
          style="width: 166px; left: 17px; top: 42px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          This topic is<br />addressed with minimal justification, rationale, initiative, and creativity</div>
        <div class="Low030"
          style="left: 58px; top: 15px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Low (0-30)</div>
      </div>
      <div class="Group53" style="width: 200px; height: 128px; left: 218px; top: 1px; position: absolute">
        <div class="Rectangle25"
          style="width: 200px; height: 128px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 15px; border: 1px #094067 solid">
        </div>
        <div class="ThisTopicIsAddressedWithAdequateJustificationRationaleInitiativeAnd"
          style="width: 166px; left: 17px; top: 42px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          This topic is addressed with adequate justification, rationale, initiative, and</div>
        <div class="Medium4070"
          style="left: 39px; top: 15px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          Medium (40-70)</div>
      </div>
      <div class="Group54" style="width: 200px; height: 152px; left: 0px; top: 0px; position: absolute">
        <div class="Rectangle26"
          style="width: 200px; height: 152px; left: 0px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 15px; border: 1px #094067 solid">
        </div>
        <div class="High80100"
          style="left: 47px; top: 16px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
          High (80-100)</div>
        <div class="ThisTopicIsAddressedWithAboveAverageJustifcationRationaleInitiativeCreativityAndThoroughness"
          style="width: 166px; left: 17px; top: 43px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
          This topic is addressed with above average justifcation, rationale, initiative, creativity, and thoroughness.
        </div>
      </div>
    </div>
    <div class="Group58" style="width: 658px; height: 19px; left: 239px; top: 398px; position: absolute">
      <div class="Objectives"
        style="left: 0px; top: 1px; position: absolute; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Objectives</div>
      <div class="PossiblePoints"
        style="left: 361px; top: 0px; position: absolute; text-align: center; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Possible Points</div>
      <div class="Scored"
        style="left: 513px; top: 0px; position: absolute; text-align: center; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Scored</div>
      <div class="Notes"
        style="left: 614px; top: 0px; position: absolute; text-align: center; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Notes</div>
    </div>
    <div class="Group56" style="width: 843px; height: 25px; left: 239px; top: 422px; position: absolute">
      <div class="Rectangle28"
        style="width: 233px; height: 25px; left: 610px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 5px; border: 1px #094067 solid">
      </div>
      <div class="Rectangle29"
        style="width: 233px; height: 25px; left: 610px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 5px; border: 1px #094067 solid">
      </div>
      <div class="UseHttpsTls"
        style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Use HTTPS/TLS</div>
      <div class="BlahBlahBalhBlahBlahBlah"
        style="left: 616px; top: 3px; position: absolute; color: #094067; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Blah Blah Balh blah blah blah</div>
      <div class="Rectangle27"
        style="width: 25px; height: 25px; left: 527px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 5px; border: 1px #094067 solid">
      </div>
      <div
        style="left: 462px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        2</div>
      <div
        style="left: 533px; top: 0px; position: absolute; text-align: center; color: #3DA9FC; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        2</div>
    </div>
    <div class="Group57" style="width: 668px; height: 55px; left: 239px; top: 453px; position: absolute">
      <div class="Rectangle28"
        style="width: 25px; height: 25px; left: 527px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 5px; border: 1px #094067 solid">
      </div>
      <div
        style="left: 535px; top: 0px; position: absolute; text-align: center; color: #3DA9FC; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1</div>
      <div class="EnableHsts"
        style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Enable HSTS</div>
      <div
        style="left: 463px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1</div>
      <div class="Rectangle29"
        style="width: 57px; height: 25px; left: 611px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 5px; border: 1px #094067 solid">
      </div>
      <div class="Notes"
        style="left: 617px; top: 3px; position: absolute; color: #90B4CE; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Notes</div>
      <div class="Rectangle30"
        style="width: 57px; height: 25px; left: 611px; top: 30px; position: absolute; background: #FFFFFE; border-radius: 5px; border: 1px #094067 solid">
      </div>
      <div class="Notes"
        style="left: 617px; top: 33px; position: absolute; color: #90B4CE; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Notes</div>
    </div>
    <div class="Group59" style="width: 552px; height: 25px; left: 239px; top: 484px; position: absolute">
      <div class="Rectangle29"
        style="width: 25px; height: 25px; left: 527px; top: 0px; position: absolute; background: #FFFFFE; border-radius: 5px; border: 1px #094067 solid">
      </div>
      <div
        style="left: 535px; top: 0px; position: absolute; text-align: center; color: #3DA9FC; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1</div>
      <div class="RedirectHttpToHttps"
        style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Redirect HTTP to HTTPS</div>
      <div
        style="left: 463px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1</div>
    </div>
    <div class="Group60" style="left: 996px; top: 529px; position: absolute">
      <div class="Score"
        style="left: 0px; top: 3px; position: absolute; text-align: center; color: #5F6C7B; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Score</div>
      <div class="4" style="left: 51px; top: 0px; position: absolute; text-align: right"><span
          style="color: #3DA9FC; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">4</span><span
          style="color: #094067; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">/4</span>
      </div>
    </div>
    <div class="Button1" style="width: 229px; height: 35px; left: 853px; top: 560px; position: absolute">
      <div class="Rectangle4"
        style="width: 229px; height: 35px; left: 0px; top: 0px; position: absolute; background: #3DA9FC; border-radius: 5px; border: 1px #094067 solid">
      </div>
      <div class="Button"
        style="left: 64px; top: 7.75px; position: absolute; text-align: center; color: #FFFFFE; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 18.13px; word-wrap: break-word">
        Submit Rubric</div>
    </div>
  </div>
  <div class="NotGradedSubmission" style="width: 981px; height: 56px; position: relative">
    <div class="Rectangle5"
      style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
    </div>
    <div class="Group17" style="left: 33px; top: 19px; position: absolute">
      <div class="NotGraded"
        style="left: 0px; top: 0px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Not Graded</div>
      <div class="9"
        style="left: 205px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-9</div>
      <div class="SubmittedBySadieEyre"
        style="left: 351px; top: 0px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Sadie Eyre</div>
      <div class="GithubComAlexandermaat99Intex24"
        style="left: 647px; top: 0px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        github.com/alexandermaat99/Intex24</div>
    </div>
  </div>
  <div class="GradedSubmission" style="width: 981px; height: 56px; position: relative">
    <div class="Rectangle5"
      style="width: 981px; height: 56px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
    </div>
    <div class="Group17" style="width: 915px; height: 18px; left: 33px; top: 19px; position: absolute">
      <div class="Graded"
        style="left: 0px; top: 0px; position: absolute; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Graded</div>
      <div class="9"
        style="left: 205px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        1-9</div>
      <div class="SubmittedBySadieEyre"
        style="left: 351px; top: 0px; position: absolute; text-align: center; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Submitted by Sadie Eyre</div>
      <div class="GithubComAlexandermaat99Intex24"
        style="left: 647px; top: 0px; position: absolute; text-align: right; color: #90B4CE; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        github.com/alexandermaat99/Intex24</div>
    </div>
  </div>
  <div class="DashboardCard" style="width: 571px; height: 55px; position: relative">
    <div class="Rectangle5"
      style="width: 571px; height: 55px; left: 0px; top: 0px; position: absolute; background: #D9E4EC; border-radius: 15px">
    </div>
    <div class="NotGraded"
      style="left: 30.99px; top: 19.34px; position: absolute; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      Not Graded</div>
    <div class="10"
      style="width: 36.59px; left: 216.88px; top: 19.34px; position: absolute; text-align: center; color: #094067; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">
      1-10</div>
    <div class="SubmittedByJeffSutherland"
      style="left: 335.39px; top: 19.34px; position: absolute; text-align: right; color: #094067; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
      Submitted by Jeff Sutherland</div>
  </div>
</body>

</html>
