@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Survey</h1>
<form action="/" method="post">
    <div>
        <label for="newSubmissionItemTitle">Title</label>
        <br />
        <input type="text" id="newSubmissionItemTitle" name="newSubmissionItemTitle" placeholder="Title" required>
    </div>
    <br />
    <div>
        <label for="newSubmissionItemQuestion">Question</label>
        <br />
        <input type="text" id="newSubmissionItemQuestion" name="newSubmissionItemQuestion" placeholder="Question" required>
    </div>
    <br />
    <div>
        <label for="newSubmissionItemDescription">Title</label>
        <br />
        <input type="text" id="newSubmissionItemDescription" name="newSubmissionItemDescription" placeholder="Description" required>
    </div>
    <br />
    <div>
        <label for="newSubmissionItemResponseDescription">Title</label>
        <br />
        <input type="text" id="newSubmissionItemResponseDescription" name="newSubmissionItemResponseDescription" placeholder="Response Description" required>
    </div>
    <br />
    <button type="submit">Save Changes</button>
</form>

