@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/teacheradmin.css" rel="stylesheet" />

<div style="width: 40%; background-color: lightblue; padding: 20px; margin-left: auto; margin-right: auto;">
    <div>
        <h1>Judges</h1>
        <table>
            <tr>
                <th>Room Number</th>
                <th>Judges Assignmed</th>
            </tr>
            <tr>
                <td>Good time</td>
                <td>Bad Time</td>
            </tr>
        </table>
        <a class="btn btn-primary" asp-controller="TeacherAdmin" asp-action="AddRoom">Add Room</a>
        <h1>Rooms</h1>
        <table>
            <tr>
                <th>Judge Name</th>
                <th>Assigned Room</th>
            </tr>
        </table>
        <a class="btn btn-primary" asp-controller="TeacherAdmin" asp-action="AddJudge">Add Room</a>

    </div>
</div>
 
    

