@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* @model nameOfWhateverTheModelIs *@

<h1>Hello, John! You've been assigned to room 274TNRB</h1>

<div>
    <div>Avg. Group Score</div>
    <div>23/30</div>
</div>
<div>
    <div>Groups Completed</div>
    <div>Group(s) 1, 2, 3</div>
</div>
<div>
    <div>Judges Assumptions</div>
    <p>INTEX assumptions go here....</p>
</div>
<div>
    <div>Case Information</div>
    <p>Case information goes here....</p>
</div>