/* Color Palette */
:root {
  --color-dark-blue: #094067;
  --color-bright-blue: #1c74db;
  --color-sky-blue: #3da9fc;
  --color-dark-gray: #4d4d4d;
  --color-gray-blue: #5f6c7b;
  --color-light-blue: #72bcd6;
  --color-soft-blue: #80c8e8;
  --color-pale-blue: #90b4ce;
  --color-ice-blue: #a0dafb;
  --color-light-gray: #cdcdcd;
  --color-pale-gray: #d9e4ec;
  --color-almost-white: #ededed;
  --color-bright-red: #ef4565;
  --color-nearly-white: #fffffe;
  --color-black-transparent: rgba(0, 0, 0, 0.25);
}

/* Typography */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-dark-gray);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark-blue);
}

a {
  color: var(--color-bright-blue);
  text-decoration: none;
}

a:hover {
  color: var(--color-sky-blue);
}

/* Buttons */
.button,
button {
  background-color: var(--color-bright-blue);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover,
button:hover {
  background-color: var(--color-sky-blue);
}

/* Forms */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
}

input[type="submit"] {
  width: auto;
  cursor: pointer;
  background-color: var(--color-ice-blue);
  color: var(--color-dark-blue);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Navigation Bar */
.navbar {
  background-color: var(--color-dark-gray);
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: var(--color-almost-white);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--color-gray-blue);
}

/* Footer */
footer {
  background-color: var(--color-dark-gray);
  color: var(--color-almost-white);
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* Add or modify these classes based on specific component needs across your designs. */

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px); /* Adjust height as needed */
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable navbar if content exceeds the height */
}

@media (max-width: 767.98px) {
  .sidebar {
    position: static;
    height: auto;
    padding-top: 48px; /* Adjust padding as needed */
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Adjust as needed */
  padding: 48px 0 0; /* Adjust padding as needed */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid #000; /* Add black border on the right */
}

.sidebar-sticky {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable navbar if content exceeds the height */
}

@media (max-width: 767.98px) {
  .sidebar {
    position: static;
    height: auto;
    padding-top: 48px; /* Adjust padding as needed */
  }
}

.plaintext-link {
  text-decoration: none;
  color: inherit;
}

.plaintext-link:hover {
  text-decoration: none;
  color: inherit;
}

/* Color Palette for Nexus Gas*/
.bg-nextex-background {
  background-color: #fffffe;
}

.text-nextex-background {
  color: #fffffe;
}

.bg-nextex-button {
  background-color: #3da9fc;
}

.text-nextex-button {
  color: #3da9fc;
}

.bg-nextex-headline {
  background-color: #094067;
}

.text-nextex-headline {
  color: #094067;
}

.bg-nextex-paragraph {
  background-color: #5f6c7b;
}

.text-nextex-paragraph {
  color: #5f6c7b;
}

.bg-nextex-button-text {
  background-color: #fffffe;
}

.text-nextex-button-text {
  background-color: #fffffe;
}

.bg-nextex-secondary {
  background-color: #90b4ce;
}

.text-nextex-secondary {
  color: #90b4ce;
}

.bg-nextex-tertiary {
  background-color: #ef4565;
}

.text-nextex-tertiary {
  color: #ef4565;
}

/* Font Family for Nexus Gas */
.inter-heading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Example: Setting font weight to 700 */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-paragragh {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Example: Setting font weight to 400 */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
