@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model.TAs

<h2>TA Received. Thank you for adding @Model.first_name @Model.last_name</h2>