@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Form Page</title>     
</head>
<body>
    <div class="form-box">
        <form>
            <div class="form-field">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName">
            </div>

            <div class="form-field">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName">
            </div>

            <div class="form-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>

            <div class="form-field">
                <label>Current Class Assignment:</label>
                <input type="checkbox" id="is401" name="classAssignment" value="IS 401">
                <label for="is401">IS 401</label><br>
                <input type="checkbox" id="is413" name="classAssignment" value="IS 413">
                <label for="is413">IS 413</label><br>
                <input type="checkbox" id="is414" name="classAssignment" value="IS 414">
                <label for="is414">IS 414</label><br>
                <input type="checkbox" id="is455" name="classAssignment" value="IS 455">
                <label for="is455">IS 455</label><br>
            </div>

            <button type="submit" class="save-button">Save</button>
        </form>
    </div>
</body>
</html>
