@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Form Page</title>     
</head>
<body>
    <div class="form-box">
        <form>
            <div class="form-field">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name">
            </div>

            <div class="form-field">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_mame" name="last_name">
            </div>

            <div class="form-field">
                <label for="password_hash">Password:</label>
                <input type="password" id="password_hash" name="password_hash">
            </div>

            <div class="form-field">
                <label>Current Class Assignment:</label>
                <input type="checkbox" id="is401" name="class_assignment" value="IS 401">
                <label for="is401">IS 401</label><br>
                <input type="checkbox" id="is413" name="class_assignment" value="IS 413">
                <label for="is413">IS 413</label><br>
                <input type="checkbox" id="is414" name="class_assignment" value="IS 414">
                <label for="is414">IS 414</label><br>
                <input type="checkbox" id="is455" name="class_assignment" value="IS 455">
                <label for="is455">IS 455</label><br>
            </div>

            <button type="submit" class="save-button">Save</button>
            <button type="button" class="button delete-button">Delete</button>
        </form>
    </div>
</body>
</html>
