@{
    ViewData["Title"] = "Judge Summary";
}

<div class="text-center">
    <h1 class="display-4">Master Group</h1>
</div>

<table>
    <thead>
        <tr>
            <th>Room</th>
            <th>Judges</th>
            <th>Groups</th>
            <th>Top Group</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>174 TNRB</td>
            <td>Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>
        <tr>
            <td>174 TNRB</td>
            <td>Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>
        <tr>
            <td>174 TNRB</td>
            <td>Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>
</table>
