@{
    ViewData["Title"] = "Judge Summary";
}
<br>
<div class="text-left">
    <h2><b>Judge Summary</b></h2>
</div>
<br>
<table class="rounded-table">
    <thead class="text-center">
        <tr>
            <th>Room</th>
            <th>Judges</th>
            <th>Groups</th>
            <th>Top Group</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>174 TNRB</td>
            <td>Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>
        <tr>
            <td>174 TNRB</td>
            <td>Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>
        <tr>
            <td>174 TNRB</td>
            <td>Max Verstappen, Lando Norris</td>
            <td>1-2, 1-4, 1-9, 3-4</td>
            <td>1-9</td>
        </tr>
</table>
