@{
    ViewData["Title"] = "Master Group";
}

<h1>JUDGE VIEW</h1>

<div class="text-center">
    <h1 class="display-4">Master Group</h1>
</div>

<table>
    <thead>
        <tr>
            <th>Group</th>
            <th>Question 1</th>
            <th>Question 2</th>
            <th>Question 3</th>
            <th>Feedback</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1-1</td>
            <td>8/10</td>
            <td>10/10</td>
            <td>21/30</td>
            <td>Very average</td>
        </tr>
        <tr>
            <td>1-2</td>
            <td>9/10</td>
            <td>10/10</td>
            <td>30/30</td>
            <td>Amazing presentation</td>
        </tr>
        <tr>
            <td>1-3</td>
            <td>10/10</td>
            <td>10/10</td>
            <td>28/30</td>
            <td>jaw dropped</td>
        </tr>
</table>
