@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model

<h1>Add Objective</h1>

<form method="post">
    <select asp-for="possible_score">
        <option value="">Possible Point(s)</option>
        @for (int i = 1; i <= 10; i++)
        {
        <option value="@i">@i</option>
        }
    </select>
    <br /><br />
    <label asp-for="rubric_requirements">Objective Name</label>
    <input asp-for="rubric_requirements" />
    <br /><br />
    <label asp-for="rubric_requirements_description">Description</label>
    <input asp-for="rubric_requirements_description" />
    <br /><br />
    <button type="submit">Save</button>
</form>
